<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Ai Performance Recorder{% endblock %}</title>
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">/-->
</head>
<body>
  <nav class="navbar">
    <a class="brand" >Ai Performance Recorder</a>
    <div class="nav-links">
    
        <a >My Chat</a>
        
        <form  class="inline-form">
          <button type="submit" class="link-button">Log out</button>
          
        </form>
      
        
        <a>Log in</a>
        
        <a>Register</a>
        
    
      <a>About</a>
    </div>
  </nav>

  <main class="container">
    

    {% block content %}{% endblock %}
  </main>
</body>
</html>